@import "../sass/pages/home";
@import "../sass/pages/content";
@import "../sass/pages/upcomming-events";
@import "../sass/pages/executive-council";
@import "../sass/pages/president-message";
@import "../sass/pages/event-details";
@import "../sass/pages/past-event-details";
@import "../sass/pages/past-event-list";
@import "../sass/pages/about";
@import "../sass/pages/energy-balance-overview";
@import "../sass/pages/energy-statistics";
@import "../sass/pages/publication.scss";
