@import "../variable/color";

.news-gallery {
  padding-top: 40px;
  padding-bottom: 80px;

  .news-gallery-main {
    margin-top: 24px;
  }
}

.news--item {
  background-color: #f2f2f2;
  border-radius: 10px;

  .news--image {
    border-radius: 10px;
    overflow: hidden;

    img {
      transition: all 0.3s ease 0s;
    }
  }

  .news--text {
    min-height: 146px;
    padding: 24px;

    .dates {
      ul {
        li {
          display: inline-block;
          font-size: 15px;
          font-weight: 400;
          position: relative;

          &::before {
            position: absolute;
            top: 10px;
            left: 7px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #929292;
            content: "";
          }

          a {
            color: #515151;
            font-size: 12px;
          }

          &:first-child {
            &::before {
              display: none;
            }
          }
        }

        li+li {
          padding-left: 24px;
        }
      }
    }

    .news--title {
      font-size: 20px;
      font-weight: 600;
      color: $black;
      margin-top: 14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all linear .2s;

      &:hover {
        color: $primary;
      }
    }
  }
}

.gallery--item {
  background-color: #f2f2f2;
  border-radius: 10px;


  .image {
    border-radius: 10px;
    overflow: hidden;
  }

  .text {
    padding: 24px;
    min-height: 146px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: $black;
      margin-top: 14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: all linear .2s;

      &:hover {
        color: $primary;
      }
    }

    ul {
      li {
        a {
          color: $black;
          font-size: 12px;
        }
      }
    }
  }
}