@import "../variable/color";

.upcomming-event-details {
  padding: 40px 0;

  .event-details-main .middle-content {
    background-color: #fff;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.1);
  }

  .event-details-main .text {
    padding: 30px;
  }

  .event-details-main .text h1 {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 20px;
  }

  .event-details-main .text h3 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }

  .event-details-main .text ul li {
    color: $black;
    font-size: 15px;
    font-weight: 500;
  }

  .executive-council-item {
    margin: 0 0 24px 0;

    h6 {
      font-size: 20px;
    }
  }

}