@import "../variable/color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 28px;
}

i {
  display: inline-block;
  padding: 0 !important;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

span {
  display: inline-block;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $black;
}

.common-btn {
  a {
    background-color: #1cb9c8;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    transition: all linear .2s;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background-color: $black;
    }
  }
}

.common-heading {
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
}